.cardCarrito {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 15rem;
    padding: 1.5rem;
    margin: 1rem;
    display: inline-block;
    align-items: center;
    transition: box-shadow 0.3s ease-in-out;
}